In [1]:
from langchain.llms import GooglePalm
api_key="AIzaSyBNTRwqCgvY6GhJupl9BoHlfJO0ZXWIhvM"
llm = GooglePalm(google_api_key=api_key,temperature=0.2)
poem=llm("write a poem on my love for momos")
print(poem)

Oh, momos, my beloved,
You are the food of my dreams.
Your chewy dough and flavorful filling
Fill me with such joy.

I love your crispy exterior,
And your soft, fluffy interior.
Your sauce is the perfect complement,
Bringing all the flavors together.

I could eat momos every day,
And I never get tired of them.
They are the perfect food,
And I am so grateful for them.

Oh, momos, my beloved,
You are my one true love.
I will always cherish you,
And I will never stop loving you.

In [2]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "atliq_tshirts"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Adidas	Blue	L	44	39
2	Van Huesen	Blue	XL	35	21
3	Adidas	Black	S	40	98
*/

In [3]:
from langchain_experimental.sql import SQLDatabaseChain
db_chain=SQLDatabaseChain.from_llm(llm,db, verbose=True)
db_chain("How many t-shirs do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirs do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(65,)]
Answer:65
> Finished chain.

{'query': 'How many t-shirs do we have left for nike in extra small size and white color?',
 'result': '65'}

In [4]:
qns1=db_chain("give me a list of all small size tsirts")

> Entering new SQLDatabaseChain chain...
give me a list of all small size tsirts
SQLQuery:SELECT t_shirt_id, brand, color, size, price, stock_quantity FROM t_shirts WHERE size = 'S'
SQLResult: [(3, 'Adidas', 'Black', 'S', 40, 98), (7, 'Van Huesen', 'Black', 'S', 46, 52), (10, 'Adidas', 'Red', 'S', 44, 10), (15, 'Nike', 'Red', 'S', 15, 94), (17, 'Van Huesen', 'Red', 'S', 36, 65), (41, 'Nike', 'Black', 'S', 21, 32), (60, 'Adidas', 'White', 'S', 11, 31), (68, 'Nike', 'Blue', 'S', 13, 67), (80, 'Levi', 'Blue', 'S', 26, 26), (88, 'Nike', 'White', 'S', 25, 18)]
Answer:3, Adidas, Black, S, 40, 98
> Finished chain.

In [5]:
db_chain("give me the total value of stock for brand levis")

> Entering new SQLDatabaseChain chain...
give me the total value of stock for brand levis
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('18458'),)]
Answer:18458
> Finished chain.

{'query': 'give me the total value of stock for brand levis',
 'result': '18458'}

In [6]:
db_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('277'),)]
Answer:277
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '277'}

In [7]:
db_chain("what is the maximum discound on brands")

> Entering new SQLDatabaseChain chain...
what is the maximum discound on brands
SQLQuery:SELECT max(pct_discount) FROM discounts
SQLResult: [(Decimal('45.00'),)]
Answer:45.00
> Finished chain.

{'query': 'what is the maximum discound on brands', 'result': '45.00'}

In [8]:
db_chain("SELECT max(pct_discount) FROM discounts")

> Entering new SQLDatabaseChain chain...
SELECT max(pct_discount) FROM discounts
SQLQuery:SELECT max(pct_discount) FROM discounts
SQLResult: [(Decimal('45.00'),)]
Answer:45.00
> Finished chain.

{'query': 'SELECT max(pct_discount) FROM discounts', 'result': '45.00'}

In [9]:
db_chain("what is the discounts and price of each brands")

> Entering new SQLDatabaseChain chain...
what is the discounts and price of each brands
SQLQuery:SELECT t_shirts.brand, discounts.pct_discount, t_shirts.price
FROM discounts
JOIN t_shirts ON discounts.t_shirt_id = t_shirts.t_shirt_id
SQLResult: [('Adidas', Decimal('10.00'), 44), ('Van Huesen', Decimal('15.00'), 35), ('Adidas', Decimal('20.00'), 40), ('Nike', Decimal('5.00'), 17), ('Nike', Decimal('25.00'), 38), ('Adidas', Decimal('10.00'), 31), ('Van Huesen', Decimal('30.00'), 46), ('Nike', Decimal('35.00'), 20), ('Levi', Decimal('40.00'), 22), ('Adidas', Decimal('45.00'), 44)]
Answer:Adidas 10.00 44, Van Huesen 15.00 35, Adidas 20.00 40
> Finished chain.

{'query': 'what is the discounts and price of each brands',
 'result': 'Adidas 10.00 44, Van Huesen 15.00 35, Adidas 20.00 40'}

In [10]:
qns1 = db_chain("How many t-shirts do we have left for levis in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for levis in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White' AND size = 'XS'
SQLResult: [(69,)]
Answer:69
> Finished chain.

In [11]:
qns2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('13512'),)]
Answer:13512
> Finished chain.

In [12]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """
qns3=db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('17921.200000'),)]
Answer:17921.2
> Finished chain.

In [13]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('18458'),)]
Answer:18458
> Finished chain.

In [14]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('140'),)]
Answer:140
> Finished chain.

In [16]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : ''.join(str(qns1))},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': ''.join(str(qns2))},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': ''.join(str(qns3))} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : ''.join(str(qns4))},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : ''.join(str(qns5))
    }
]